 body{
    background-color: #363636d3;
    overflow: scroll;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    --width:400px;
}

.p{
    background-image:url("../image/40-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: unset;
    height:500px;
    max-width: 700px;
    margin: 0 auto;
    
    padding: 15px;
    border:1px dotted #223231;
}
.l2,.l3{
    font-size: 50px;
    /* position: absolute; */
    padding: 10px;
    opacity: .7;
    text-align: center;
    width: 84px;
    height: 60px;
    background-color: honeydew;
    border-radius: 19px;
}

#i1{
    width: 50px;
    height: 23px;
}
.un{
    width: var(--width);
    margin: 0 auto;

}
#in{
    
    height: 50px;
    max-width: var(--width);
    font-size: 35px;
    border-radius: 27px;
    outline: none;
    opacity: .7;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    border: none;
    filter: drop-shadow(12px 7px 5px #000);
}
.container{
    width: var(--width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.un label{
      
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    display: block;
    filter: drop-shadow(4px 1px 6px black);
}

.btn-group{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.btn0{
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    opacity: .8;
    filter: drop-shadow(4px 4px 10px #000);
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    padding: 5px;
    
}
.ping{
    text-align: center;
    margin:0 13px;
    flex: 2;
    background-color: #fff;
    width:calc(var(--width)-20px);
    min-height: 60px;
    color:#666665;
    font-size:25px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    opacity: .8;
    
}
.pingSpan{
    color:yellow;
    width: 50px;
    height: 50px;
    background-color: #fff;
    font-size: 45px;
    
    text-align: center;
    opacity: .8;
  
    padding: 15px;
    border-radius: 20px
  
}
.ping-container{
    display: flex;
    margin-top: 30px;
}
@media(max-width:470px){
    *{
        --width:300px
    }
}